@using System.Security.Claims
@inject NavigationManager Navigation

<div class="nav-menu">
    <div class="text-center p-3 mb-2">
        <i class="fas fa-graduation-cap fa-2x"></i>
        <span class="ms-2 fw-bold">Menu</span>
    </div>
    <!-- Nepřihlášený uživatel -->
    <AuthorizeView>
        <NotAuthorized>
            <div class="nav-item">
                <NavLink class="nav-link" href="login">
                    <i class="fas fa-sign-in-alt"></i>
                    <span>Přihlásit se</span>
                </NavLink>
            </div>    
        </NotAuthorized>
    </AuthorizeView>

    <!-- Student -->
    <AuthorizeView Roles="Student">
        <Authorized>
            <div class="nav-item">
                <NavLink class="nav-link" href="student-dashboard">
                    <i class="fas fa-tasks"></i>
                    <span>Dashboard</span>
                </NavLink>
            </div>
            <div class="nav-item">
                <NavLink class="nav-link" href="student-activities">
                    <i class="fas fa-tasks"></i>
                    <span>Moje úkoly</span>
                </NavLink>
            </div>
            <div class="nav-item">
                <NavLink class="nav-link" href="my-grades">
                    <i class="fas fa-star"></i>
                    <span>Moje známky</span>
                </NavLink>
            </div>
        </Authorized>
    </AuthorizeView>

    <!-- Teacher -->
    <AuthorizeView Roles="Teacher">
        <Authorized>
            <div class="nav-item">
                <NavLink class="nav-link" href="teacher-dashboard">
                    <i class="fas fa-tasks"></i>
                    <span>Dashboard</span>
                </NavLink>
            </div>
            <div class="nav-item">
                <NavLink class="nav-link" href="teacher-activities">
                    <i class="fas fa-book"></i>
                    <span>Správa aktivit</span>
                </NavLink>
            </div>
            <div class="nav-item">
                <NavLink class="nav-link" href="teacher-classes">
                    <i class="fas fa-users"></i>
                    <span>Přehled tříd</span>
                </NavLink>
            </div>
        </Authorized>
    </AuthorizeView>

    <!-- Admin -->
    <AuthorizeView Roles="Admin">
        <Authorized>
            <div class="nav-item">
                <NavLink class="nav-link" href="admin-dashboard">
                    <i class="fas fa-cog"></i>
                    <span>Dashboard</span>
                </NavLink>
            </div>
            <div class="nav-item">
                <NavLink class="nav-link" href="admin/users">
                    <i class="fas fa-user-cog"></i>
                    <span>Uživatelé</span>
                </NavLink>
            </div>
            <div class="nav-item">
                <NavLink class="nav-link" href="admin/classes">
                    <i class="fas fa-chalkboard"></i>
                    <span>Třídy</span>
                </NavLink>
            </div>
            <div class="nav-item">
                <NavLink class="nav-link" href="admin/subjects">
                    <i class="fas fa-book-open"></i>
                    <span>Předměty</span>
                </NavLink>
            </div>
        </Authorized>
    </AuthorizeView>

</div>