@using Microsoft.AspNetCore.Components

<div class="col-md-3">
    <div class="card text-bg-@Color mb-3">
        <div class="card-body text-center">
            <h5 class="card-title">@Title</h5>
            <p class="card-text display-6">@Value</p>
        </div>
    </div>
</div>

@code {
    [Parameter] public string Title { get; set; }
    [Parameter] public string Color { get; set; } = "primary";
    [Parameter] public int Value { get; set; }
}
